on boot
    setprop ro.build.product smdk6410
    setprop ro.product.device smdk6410
    setprop ro.radio.noril yes
    setprop ro.com.google.locationfeatures 1
    setprop wifi.interface eth0
    setprop ro.setupwizard.mode DISABLED
    write /proc/sys/vm/swappiness 100
    write /sys/devices/platform/smartq_gpio/usb_host_power 1

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf -dd -t
        group wifi system
        disabled

service dhcpcd /system/bin/logwrapper /system/bin/dhcpcd -B -K -L -dd eth0
        group system dhcp
        oneshot
        disabled

service smdk6410-setup /system/etc/init.smdk6410.sh
        oneshot

service screen-setup /data/system/init.smdk6410.density.sh
        oneshot
